Input a favourite bookmark URL
<form action='/bookmarks_post' method='POST'>
  Title: <input type='text' name='title'>
  URL: <input type='text' name='URL'>
  <input type='submit' value='Submit'>
</form>
